.container {
  padding: 0 1rem;
  width: 95vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50vw;
}

.title-and-desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#formField {
  padding: 1rem;
  font-size: inherit;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
