.container {
  padding: 2rem;
  width: 95vw;
  margin: 0 auto;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.game-wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 1rem;
}

h1 {
  text-align: center;
}

.player {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.player.active {
  border: 1px solid indianred;
  padding: 1rem 2rem;
  border-radius: 4px;
}

.game-header {
  width: 50vw;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.nameChanger {
  display: flex;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background-color: rgb(255, 196, 0);
  color: black;
  border: none;
  border-radius: 4px;
}

.name-input {
  padding: 0.8rem 1rem;
  font-size: inherit;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: min-content;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.click-button {
  width: 200px;
  height: 200px;
  font-size: 1.5rem;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.click-button:hover {
  background-color: rgb(56, 56, 56);
  border: none;
}
